<section class="dashboard-component">
  <div class="dashboard-component__top">
    <div class="dashboard-component__top-filters top-filters">
      <mat-form-field class="w-100" appearance="standard">
        <mat-label>Seleccionar fecha: </mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          (dateChange)="onClick_filtrar_usuarios($event)"
          [formControl]="fechaSeleccionada"
          readonly
          (click)="picker.open()"
        />
        <!-- [(ngModel)]="fechaSeleccionada" -->
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-list class="top-filters__list">
        <h3 class="top-filters__list-title" matSubheader>
          Embarques
        </h3>
        <mat-selection-list
          #users
          class="top-filters__list-selection list-selection"
          (selectionChange)="onClick_obtener_operacion($event)"
        >
          <ng-container
            *ngIf="
              listarEmbarques.length > 0;
              then listaConUsuarios;
              else listaVaciaUsuarios
            "
          ></ng-container>
          <ng-template #listaConUsuarios>
            <mat-list-option
              class="list-selection__options"
              *ngFor="let usuario of listarEmbarques"
              [value]="usuario"
            >
              <h4 mat-line>{{ usuario.strNomUsuario }}</h4>
              <small class="list-selection__options-small" mat-line>
                {{ usuario.Id_Tra }}
              </small>
            </mat-list-option>
          </ng-template>
          <ng-template #listaVaciaUsuarios>
            <div class="top-filters__list-empty list-empty">
              <h1 class="list-empty__title">SIN DATOS</h1>
            </div>
          </ng-template>
        </mat-selection-list>
      </mat-list>
    </div>
    <div class="dashboard-component__top-cards cards">
      <div class="cards__top">
        <mat-card class="cards__top-delivery delivery">
          <mat-card-header>
            <mat-card-title>
              Entregados
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="delivery__content">
            <mat-icon><i class="fa fa-clipboard-check fa-2x"></i></mat-icon>
            <h1 class="delivery__content-title">
              {{ getTotalConfirmados() }}
            </h1>
          </mat-card-content>
        </mat-card>
        <mat-card class="cards__top-motivated motivated">
          <mat-card-header>
            <mat-card-title>
              Motivados
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="motivated__content">
            <mat-icon>
              <i class="fa fa-times-circle fa-2x"></i>
            </mat-icon>
            <h1 class="motivated__content-title">
              {{ getTotalMotivados() }}
            </h1>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="cards__bottom">
        <mat-card class="w-100 cards__bottom-send send">
          <mat-card-header>
            <mat-card-title>
              Total de Envíos
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="send__content">
            <mat-icon>
              <i class="fa fa-shipping-fast fa-2x"></i>
            </mat-icon>
            <h1 class="send__content-title">
              {{ getTotal() }}
            </h1>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="dashboard-component__middle">
    <h1 class="title-container">
      {{ texto }}
    </h1>
    <div class="dashboard-component__middle-maps maps">
      <!-- 
        MOTIVADO 25: ES EL ESTADO ENTREGADO
        MOTIVADO 15: ES EL ESTADO MOTIVADO
       -->
      <agm-map
        #gm
        [zoom]="zoom"
        [latitude]="lat"
        [longitude]="lng"
        [disableDefaultUI]="false"
        [scrollwheel]="null"
        [gestureHandling]="'cooperative'"
        [zoomControl]="false"
        [usePanning]="true"
      >
        <!-- MARKER INICIO ACTIVIDAD -->
        <ng-container
          *ngIf="
            markerInicioActividad.CxInicio != null &&
              markerInicioActividad.CyInicio != null;
            then inicioActividad
          "
        ></ng-container>
        <ng-template #inicioActividad>
          <agm-marker
            [latitude]="markerInicioActividad.CxInicio"
            [longitude]="markerInicioActividad.CyInicio"
            [animation]="'DROP'"
            [iconUrl]="markerInicioActividad.colorMarker"
            (mouseOver)="mostrarInfoCoordenadas('inicio', 0)"
            (mouseOut)="ocultarInfoCoordenadas('inicio', 0)"
            (markerClick)="clickedMarker('inicio', 0)">
            <ng-container
              *ngIf="openInfoInicio; then openCoordenadasInicio; else openDetalleEmbarqueInicio"
            ></ng-container>
            <ng-template #openCoordenadasInicio>
              <agm-info-window
                class="info-windows"
                [disableAutoPan]="false"
                [isOpen]="openInfoInicio"
              >
                <strong class="info-windows__coordenadas"
                  >{{ markerInicioActividad.CxInicio }},
                  {{ markerInicioActividad.CyInicio }}</strong
                >
              </agm-info-window>
            </ng-template>

            <ng-template #openDetalleEmbarqueInicio>
              <agm-info-window
                class="info-windows"
                [disableAutoPan]="false"
                [isOpen]="openDetailInicio"
                (infoWindowClose)="activarMostrarInfoCoordenadas('init', 0)">
                <div class="info-windows__detail">
                  <h3 class="info-windows__detail-title">
                    Inicio de Actividad
                  </h3>
                  <mat-divider></mat-divider>
                  <small>{{ markerInicioActividad.fechaInicio }}</small>
                </div>
              </agm-info-window>
            </ng-template>
          </agm-marker>
        </ng-template>

        <!-- MARKER FIN ACTIVIDAD -->
        <ng-container
          *ngIf="
            markerFinActividad.CxFin != null &&
              markerFinActividad.CyFin != null;
            then finActividad
          "
        ></ng-container>
        <ng-template #finActividad>
          <agm-marker
            [latitude]="markerFinActividad.CxFin"
            [longitude]="markerFinActividad.CyFin"
            [animation]="'DROP'"
            [iconUrl]="markerFinActividad.colorMarker"
            (mouseOver)="mostrarInfoCoordenadas('fin', 0)"
            (mouseOut)="ocultarInfoCoordenadas('fin', 0)"
            (markerClick)="clickedMarker('fin', 0)">
            <!-- <agm-info-window [disableAutoPan]="false">
              <strong class="maps__coordenadas"
                >{{ markerFinActividad.CxFin }},
                {{ markerFinActividad.CyFin }}</strong
              >
            </agm-info-window> -->
            <ng-container
              *ngIf="openInfoFin; then openCoordenadasFin; else openDetalleEmbarqueFin"
            ></ng-container>
            <ng-template #openCoordenadasFin>
              <agm-info-window
                class="info-windows"
                [disableAutoPan]="false"
                [isOpen]="openInfoFin"
              >
                <strong class="info-windows__coordenadas"
                  >{{ markerFinActividad.CxFin }},
                  {{ markerFinActividad.CyFin }}</strong
                >
              </agm-info-window>
            </ng-template>

            <ng-template #openDetalleEmbarqueFin>
              <agm-info-window
                class="info-windows"
                [disableAutoPan]="false"
                [isOpen]="openDetailFin"
                (infoWindowClose)="activarMostrarInfoCoordenadas('fin', 0)">
                <div class="info-windows__detail">
                  <h3 class="info-windows__detail-title">
                    Fin de la Actividad
                  </h3>
                  <mat-divider></mat-divider>
                  <small>{{ markerFinActividad.fechaFin }}</small>
                </div>
              </agm-info-window>
            </ng-template>
          </agm-marker>
        </ng-template>

        <!-- MARKER PUNTOS DE ENTREGA -->
        <ng-container
          *ngIf="listarOperaciones.length == 1; then puntoEntrega; else puntosEntregas"
        ></ng-container>
        <!-- Cuando existe solo un punto de entrega -->
        <ng-template #puntoEntrega>
          <agm-marker
            *ngFor="let item of listarOperaciones; let num = index"
            [latitude]="item.Cx"
            [longitude]="item.Cy"
            [animation]="'DROP'"
            [iconUrl]="colorMarker"
            (mouseOver)="mostrarInfoCoordenadas('puntos', num)"
            (mouseOut)="ocultarInfoCoordenadas('puntos', num)"
            (markerClick)="clickedMarker('puntos', num)">

          <ng-container
            *ngIf="openInfoPuntos; then openCoordenadasPuntos; else openDetalleEmbarquePuntos"
          ></ng-container>
          <ng-template #openCoordenadasPuntos>
            <agm-info-window
              class="info-windows"
              [disableAutoPan]="false"
              [isOpen]="openInfoPuntos"
            >
            <strong class="info-windows__coordenadas">
              {{ item.Cx }}, {{ item.Cy }}
            </strong>
            </agm-info-window>
          </ng-template>

          <ng-template #openDetalleEmbarquePuntos>
            <agm-info-window
              class="info-windows"
              [disableAutoPan]="false"
              [isOpen]="openDetailPuntos"
              (infoWindowClose)="activarMostrarInfoCoordenadas('puntos', num)">
              <div class="info-windows__detail">
                <h3 class="info-windows__detail-title" *ngIf="item.intCodMotivo == 25" style="color: green;">
                  Entregado
                </h3>
                <!-- {{ item.intCodMotivo == 25 ? 'Confirmado' : 'Motivado' }} -->
                <h3 class="info-windows__detail-title" *ngIf="item.intCodMotivo != 25" style="color: red;">
                  Motivado
                </h3>
                <mat-divider></mat-divider>
                <div class="info-windows__detail-pedido">
                  <b>Pedido: </b><small>{{ item.strBarcode }}</small> 
                </div> 
                <div class="info-windows__detail-cliente">
                  <b>Cliente: </b>
                  <small>{{item.strSenderName}}</small>
                  <p class="info-windows__detail-address">{{item.strAddressRecipient}} - {{item.strCityRecipient}}</p>
                  <p class="info-windows__detail-date">{{jsonParseDate}}</p>
                  <a class="info-windows__detail-detail" (click)="onClick_showDetail(item.intCode, item.srtRecipientName)">Ver Detalles...</a>
                </div>
              </div>
            </agm-info-window>
          </ng-template>
          </agm-marker>
        </ng-template>

        <!-- Cuando existe varios puntos de entrega -->
        <ng-template #puntosEntregas>
          <agm-marker
            *ngFor="let item of listarOperaciones; let num = index"
            [latitude]="item.Cx"
            [longitude]="item.Cy"
            [animation]="'DROP'"
            [iconUrl]="colorMarker"
            (mouseOver)="mostrarInfoCoordenadas('puntos', num)"
            (mouseOut)="ocultarInfoCoordenadas('puntos', num)"
            (markerClick)="clickedMarker('puntos', num)">

          <ng-container
            *ngIf="openInfoPuntos; then openCoordenadasPuntos; else openDetalleEmbarquePuntos"
          ></ng-container>
          <ng-template #openCoordenadasPuntos>
            <agm-info-window
              class="info-windows"
              [disableAutoPan]="false"
              [isOpen]="isInfoWindowOpen(num)"
            >
            <strong class="info-windows__coordenadas">
              {{ item.Cx }}, {{ item.Cy }}
            </strong>
            </agm-info-window>
          </ng-template>
          <ng-template #openDetalleEmbarquePuntos>
            <agm-info-window
              class="info-windows"
              [disableAutoPan]="false"
              (infoWindowClose)="activarMostrarInfoCoordenadas('puntos', num)"
              [isOpen]="isInfoDetailWindowOpen(num)">
              <div class="info-windows__detail">
                <h3 class="info-windows__detail-title" *ngIf="item.intCodMotivo == 25" style="color: green;">
                  Entregado
                </h3>
                <!-- {{ item.intCodMotivo == 25 ? 'Confirmado' : 'Motivado' }} -->
                <h3 class="info-windows__detail-title" *ngIf="item.intCodMotivo == 15" style="color: red;">
                  Motivado
                </h3>
                <mat-divider></mat-divider>
                <div class="info-windows__detail-pedido">
                  <b>Pedido: </b><small>{{ item.strBarcode }}</small> 
                </div> 
                <div class="info-windows__detail-cliente">
                  <b>Cliente: </b>
                  <small>{{item.strSenderName}}</small>
                  <p class="info-windows__detail-address">{{item.strAddressRecipient}} - {{item.strCityRecipient}}</p>
                  <p class="info-windows__detail-date">{{jsonParseDate}}</p>
                  <a class="info-windows__detail-detail" (click)="onClick_showDetail(item.intCode, item.srtRecipientName)">Ver Detalles...</a>
                </div>
              </div>
            </agm-info-window>
          </ng-template>
          </agm-marker>
        </ng-template>
      </agm-map>

      <div class="dashboard-component__middle-legend legend">
        <!-- <button class="legend__button" [matMenuTriggerFor]="legendMenu" mat-fab>
          <mat-icon>menu_book</mat-icon>
        </button>
        <mat-menu #legendMenu="matMenu" yPosition="above">
          <h1 class="legend__title">Leyenda</h1>
          <mat-divider></mat-divider>
          <div class="legend__list" *ngFor="let prop of listarLeyendas">
            <span>{{ prop.name }}</span>
            <div
              class="legend__list-container"
              [style.background-color]="prop.color"
            ></div>
          </div>
        </mat-menu> -->
        <mat-card class="legend__card">
          <h1 class="legend__title">Leyenda</h1>
          <mat-divider></mat-divider>
          <div class="legend__list" *ngFor="let prop of listarLeyendas">
            <span>{{ prop.name }}</span>
            <div
              class="legend__list-container"
              [style.background-color]="prop.color"
            ></div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="dashboard-component__bottom">
    <h1 class="title-container">
      Cuadro de Resumen
    </h1>
    <mat-form-field
      class="dashboard-component__bottom-search w-100"
      appearance="outline"
    >
      <mat-label>Busqueda</mat-label>
      <input matInput (keyup)="applyFilter($event)" />
      <mat-icon matSuffix>
        search
      </mat-icon>
    </mat-form-field>
    <table
      mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      class="mat-elevation-z4"
    >
      <ng-container matColumnDef="Id_Tra">
        <th mat-header-cell *matHeaderCellDef>Embarque</th>
        <td mat-cell *matCellDef="let row">{{ row.Id_Tra }}</td>
        <td mat-footer-cell *matFooterCellDef>TOTAL</td>
      </ng-container>

      <ng-container matColumnDef="Usuario">
        <th mat-header-cell *matHeaderCellDef>Código</th>
        <td mat-cell *matCellDef="let row">{{ row.Usuario }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="Apenom">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let row">{{ row.Apenom }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="Pendientes">
        <th mat-header-cell *matHeaderCellDef>Pendientes</th>
        <td mat-cell *matCellDef="let row">{{ row.Pendientes }}</td>
        <td mat-footer-cell *matFooterCellDef>{{ getTotalPendientes() }}</td>
      </ng-container>

      <ng-container matColumnDef="Confirmados">
        <th mat-header-cell *matHeaderCellDef>Confirmados</th>
        <td mat-cell *matCellDef="let row">{{ row.Confirmados }}</td>
        <td mat-footer-cell *matFooterCellDef>{{ getTotalConfirmados() }}</td>
      </ng-container>

      <ng-container matColumnDef="Motivados">
        <th mat-header-cell *matHeaderCellDef>Motivados</th>
        <td mat-cell *matCellDef="let row">{{ row.Motivados }}</td>
        <td mat-footer-cell *matFooterCellDef>{{ getTotalMotivados() }}</td>
      </ng-container>

      <!-- <ng-container matColumnDef="Recojos">
        <th mat-header-cell *matHeaderCellDef>Recojos</th>
        <td mat-cell *matCellDef="let row"> {{row.Recojos}} </td>
      </ng-container> -->

      <ng-container matColumnDef="Total">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let row">{{ row.Total }}</td>
        <td mat-footer-cell *matFooterCellDef>{{ getTotal() }}</td>
      </ng-container>

      <ng-container matColumnDef="Porcentaje">
        <th mat-header-cell *matHeaderCellDef>Productividad</th>
        <td mat-cell *matCellDef="let row">{{ row.Porcentaje }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
      <tr mat-footer-row *matFooterRowDef="columnsToDisplay"></tr>
    </table>

    <mat-paginator
      class="dashboard-component__bottom-paginator"
      [pageSizeOptions]="[5, 10, 25, 100]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</section>
