<section class="login-view">
  <div class="login-view__left">
    <div class="login-view__left-img">
      <img src="assets/img/LOGO-CIPTECH.png" width="260" />
    </div>
  </div>
  <div class="login-view__right">
    <div class="login">
      <div class="login__logo">
        <img src="assets/img/logo_delivery.png" width="280" />
      </div>
      <div class="login__form">
        <!-- <form (submit)="onClick_ingresar()"  action=""> -->
        <mat-form-field appearance="outline">
          <mat-label>Usuario</mat-label>
          <input matInput type="text" [(ngModel)]="accederUsuario.Usuario" (keyup.enter)="onClick_ingresar()"/>
          <mat-icon matSuffix>
            person
          </mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" [(ngModel)]="accederUsuario.clave" (keyup.enter)="onClick_ingresar()" />
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
        <button
          class="login__form-button"
          (click)="onClick_ingresar()"
          mat-flat-button
        >
          Iniciar Sesión
        </button>
        <small class="login__form-version">V.1.0.1b</small>
        <!-- </form> -->
      </div>
    </div>
  </div>
</section>
